.situa-container {
    width: 100%;
    padding: 0 2.9412rem;
    height: 41.5882rem;
    text-align: left;
    margin-top: 2.3529rem;

    .situa-item {

        /* Firefox 3.6 - 15 */
        // box-shadow: 0.0588rem -0.4118rem 0rem 0rem rgba(255, 255, 255, 1);
        border-radius: 2.0588rem;
        height: 100%;
        padding: 1.7647rem 2.9412rem;
        color: #fff;
        .fillFlag {
            &:before {
              content: "*";
              color: #f56c6c;
              margin-right: 4px;
            }
        }
        .step {
            font-size: 2.1176rem;
            padding-bottom: 0.2941rem;
            border-bottom: 0.4118rem solid #fff;
            color: rgba(255, 255, 255, 0.7);
            width: max-content;

            span {
                font-size: 2.7059rem;
                color: #fff;
                font-weight: bold;
            }
        }

        .targt {
            font-size: 1.8824rem;
            line-height: 2rem;
            margin-top: 1.1765rem;
            margin-bottom: 1.1765rem;
        }

        .situa-content {
            max-height: 280px;
            height: 280px;
            overflow-y: auto;
            display: flex;
            align-items: center;
            .chooseOption {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 1.5rem 0 1.5rem 1.8125rem;
                
                .el-radio {
                  min-width: 13.875rem;
                  height: 3.9375rem;
                  background: #edf0f4;
                  border: 1px solid #c8cdd3;
                  box-shadow: 0px 0.5rem 0px 0px rgba(106, 159, 231, 0.31);
                  border-radius: 2.2143rem;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 0 3rem 0 1.3125rem;
                  font-size: 1.5rem;
                  font-family: Source Han Sans CN;
                  font-weight: 500;
                  color: #3f3f3f;
                  margin-right: 2.875rem;
                  margin-bottom: 1.5rem;
        
                  ::v-deep .el-radio__inner {
                    display: inline-block;
                    width: 1.625rem;
                    height: 1.625rem;
                    background: url("@/assets/images/pad/choose.png") no-repeat;
                    background-size: 100% 100%;
                  }
        
                  // img {
                  //   width: 1.625rem;
                  //   margin-right: 0.6875rem;
                  // }
        
                  span {
                    color: #3f3f3f;
                  }
                }
        
                .is-checked {
                  color: #ffffff;
                  background: linear-gradient(
                    90deg,
                    #6d93e8 0%,
                    #77b0fe 100%
                  ) !important;
                  // box-shadow: 0px 0.5rem 0px 0px rgba(106, 159, 231, 0.31);
                  box-shadow: 0px 0.4375rem 0px 0px rgb(106 159 231 / 31%),
                    inset 0 0.4375rem 0.4375rem 0 rgb(188 212 251),
                    inset -0.4375rem 0 0 0 rgb(114 173 249),
                    inset 7px 0 0 0 rgb(107 146 230) !important;
                  border: none !important;
        
                  ::v-deep .el-radio__label {
                    color: #fff;
                  }
        
                  ::v-deep .el-checkbox__label {
                    color: #fff;
                  }
        
                  ::v-deep .el-checkbox__inner {
                    background: #fff;
        
                    &:after {
                      border-color: #6090e3;
                    }
                  }
        
                  ::v-deep .el-radio__inner {
                    background: url("@/assets/images/pad/chooseActivate.png") no-repeat;
                    background-size: 100% 100%;
        
                    &:after {
                      display: none;
                    }
                  }
                }
        
                .el-checkbox {
                  min-width: 13.875rem;
                  height: 3.9375rem;
                  background: #edf0f4;
                  border: 1px solid #c8cdd3;
                  box-shadow: 0px 0.5rem 0px 0px rgba(106, 159, 231, 0.31);
                  border-radius: 2.2143rem;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 0 3rem 0 1.3125rem;
                  font-size: 1.5rem;
                  font-family: Source Han Sans CN;
                  font-weight: 500;
                  margin-right: 2.875rem;
                  margin-bottom: 1.5rem;
                }
            }

        }
    }

    .el-carousel__container {
        &>div:nth-child(3n-2) .situa-item {
            background: linear-gradient(to bottom, #36bc76, #49cb8e);
            background: -webkit-linear-gradient(top, #36bc76, #49cb8e);
            /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(bottom, #36bc76, #49cb8e);
            /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(bottom, #36bc76, #49cb8e);
        }

        &>div:nth-child(3n-1) .situa-item {
            background: linear-gradient(to bottom, #94c1ff, #74d0ff);
            background: -webkit-linear-gradient(top, #94c1ff, #74d0ff);
            /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(bottom, #94c1ff, #74d0ff);
            /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(bottom, #94c1ff, #74d0ff);
        }

        &>div:nth-child(3n) .situa-item {
            background: linear-gradient(to bottom, #ffdf94, #ff9d4d);
            background: -webkit-linear-gradient(top, #ffdf94, #ff9d4d);
            /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(bottom, #ffdf94, #ff9d4d);
            /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(bottom, #ffdf94, #ff9d4d);
        }
    }
}

.guidance-foot {
    width: 100%;
    height: 6.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.3529rem;

    p {
        padding: 1px;
        background: linear-gradient(#e1eeff, #0977ff);
        box-shadow: 0px 0.5rem 0px 0px rgba(106, 159, 231, 0.08);
        border-radius: 2.1875rem;
        font-size: 1.8571rem;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #6890e7;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2.1875rem;

        span {
            padding: 1.375rem 3.75rem;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 2.1875rem;
            background-color: #fff;
        }

        &:nth-child(3) {
            padding: 1.375rem 3.75rem;
            border: none;
            background: linear-gradient(90deg, #6d93e8 0%, #77b0fe 100%);
            box-shadow: 0px 0.4375rem 0px 0px rgba(106, 159, 231, 0.31),
                inset 0 0.4375rem 0.4375rem 0 rgb(188, 212, 251),
                inset -0.4375rem 0 0 0 rgb(114, 173, 249),
                inset 7px 0 0 0 rgb(107, 146, 230);
            color: #ffffff;
        }
    }
}

.el-carousel__item--card {
    width: calc(100% - 60px) !important;
}

.el-carousel__item--card.is-active {
    transform: translateX(30px) scale(1) !important;
}
.transmit-coupon{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.2);
  img{
      width: 100%;
      height: 100%;
  }
}